In [1]:
import pandas as pd

In [2]:
# Change local path, download using the link below. 
# https://drive.google.com/file/d/0B6N7tANPyVeBNmlSX19Ld2xDU1E/view
path='C:/Users/R-k-l/Documents/AA Fouth Year/BetaLab/textfiles/summarycsv/sumdata/train/'
df = pd.concat([pd.read_csv(path+'train.article.txt', sep='\n'), 
                  pd.read_csv(path+'train.title.txt', sep='\n')], axis=1)
df.columns = ['Text', 'Summary']

In [3]:
# join validation sentence pairs together into dataframe
val = pd.concat([pd.read_csv(path+'valid.article.filter.txt', sep="\n"), 
                  pd.read_csv(path+'valid.title.filter.txt', sep="\n")], axis=1)
val.columns = ['Text', 'Summary']

In [4]:
len(df), len(val)

(3803956, 189650)

## Show some sample articles and titles

In [5]:
import random
for i in range(5):
    r = random.randint(0,50)
    display(val.iloc[r]['Text'])
    display(val.iloc[r]['Summary'])
    print('______________________')

'jose mourinho renewed his partnership with portuguese international maniche on wednesday when he completed the loan signing of the ##-year-old midfielder from dynamo moscow .'

'maniche renews partnership with mourinho'

______________________

'tottenham sealed a miserable festive period for a toothless manchester city here wednesday with a #-# win thanks to goals from their confident striking duo of ahmed mido and robbie keane .'

'spurs compound manchester city woes'

______________________

"hong kong share prices opened #.## percent higher thursday on follow-through interest in properties after wednesday 's sharp gains on abating interest rate worries , dealers said ."

'hong kong shares open higher as rate worries ease'

______________________

'the buffalo bills sacked tom donahoe as president and general manager on wednesday , fulfilling expectations of a shake-up after another failure to make the national football league playoffs .'

"nfl 's bills shake up front office"

______________________

'a top hollywood event promoter is seeking a court order to stop socialite and hotel heiress paris hilton from allegedly harassing him and threatening his life , court documents showed wednesday .'

'man seeks stay-away order against paris hilton'

______________________

## Export as a .csv file to be used and modeled.

In [6]:
sample = df.sample(100000)
sample

,Text,Summary
1232859,this weekend 's group of eight summit in russi...,britain 's blair says g-# summit may be one of...
1324260,one of india 's biggest christian groups tuesd...,indian christian group protests pakistani cour...
2614673,the internet boom is bringing sweeping demogra...,influx of new immigrants found in silicon valley
2050062,india 's parliament reopened monday to conside...,budget session of indian parliament opens on a...
2330799,taiwan 's small and medium-sized exporters tha...,new <unk> members offered discounted <unk> logos
...,...,...
527251,malaysia 's second biggest cell phone operator...,malaysia 's maxis begins trial #g services
1025304,a booby trap bomb was planted on the car of an...,second car bomb planted on sinn fein car
3727181,the death toll of israeli soldiers in an attac...,eight israeli soldiers killed in hezbollah attack
956575,sporadic fighting between government troops an...,philippine troops muslims rebels each claim up...
258548,spanish police have busted a gang suspected of...,spanish police bust fake marriage racket detai...

In [7]:
path='C:\\Users\\R-k-l\\AppData\\Local\\Programs\\Python\\Python37\\Scripts\\meeting-minutes\\Data\\model_training\\'
sample.to_csv(path+'100000_samples_giga.csv', index=None)